{% extends "base.html" %}
{% block main_page %}
    <div class="wrap">
        <p class="manage_tool"><a href="/reader_type/">返回读者类型页面</a></p>
        <table class="table table-bordered">
            <tbody>
            <form action="/add_reader_type/" method="post">
                {% csrf_token %}
                <tr>
                    <td style="padding:5px;">读者类型名称<input type="text" name="add_name"></td>
                </tr>
                <tr>
                    <td style="padding:5px;">可借&emsp;&emsp;数量<input type="text" name="add_number"></td>
                </tr>
                <tr>
                    <td style="padding:5px;"><input type="submit" value="提交"></td>
                </tr>
            </form>
            </tbody>

        </table>
    </div>
{% endblock %}