{% extends 'base.html' %}
{% block current_page %}
    <a href="/home/">  首页 > </a><a href="/bookcase/"> 书架设置 >> </a><a href="/add_case/"> 添加书架信息 >> </a>
{% endblock current_page %}
{% block main_page %}
    <div class="container">
        <div class="wrap">
            <p class="manage_tool"><a href="/bookcase/">返回书架展示页面</a></p>
            <table class="table table-bordered">
                <tbody>
                    <form action="/add_case/" method="post" onsubmit="return checkAll()">
                        {% csrf_token %}
                        <tr>
                            <td style="padding:5px;">书架名字<input type="text" name="add_name" id="add"
                                onblur="checkAdd(this.value)"><span id="addSpan"></span></td>
                        </tr>
                        <tr>
                            <td style="padding:5px;"><input type="submit" value="提交"></td>
                        </tr>
                    </form>
                </tbody>

            </table>
        </div>
    </div>
    <script>
        function checkAdd(add){
            var _add = add.trim()
            if(_add.length==0){
                $('#addSpan').html('不能为空');
                return false
            }
            return true
        }
        function checkAll() {
            return checkAdd($('#add').val())
        }
    </script>
{% endblock %}