{% extends 'base.html' %}
{% block main_page %}
<div class="container">
    <h3><i class="iconfont">&#xe707;</i>图书借阅查询</h3>
    <div class="wrap">
        <form action="/borrow_search/" method="post">
            {% csrf_token %}
            <table class="table table-bordered">
                <tr>
                    <td colspan="3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="blankCheckbox" checked="checked">
                                请选择查询依据：
                            </label>
                            <select name="select" class="form-control btn btn-danger" id="down_list">
                                <option value="bookname">书名</option>
                                <option value="barcode">条形码</option>
                                <option value="booktype">类别</option>
                                <option value="author">作者</option>
                                <option value="bookpub">出版社</option>
                                <option value="bookcase">书架</option>
                            </select>

                            <input type="text" name="search" id="search" value="">
                            <button id="searchBtn">查询</button>
                            <!--<script>
                                var cur = document.querySelector('#down_list option[value=""]');
                                cur.setAttribute('selected','selected');
                            </script>-->
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="timeCheckbox" checked="checked">
                                借阅时间：
                            </label>
                            从&nbsp;<input type="date" name="timeFrom" id="timeFrom" value="">
                            到&nbsp;<input type="date" name="timeTo" id="timeTo" value="">
                        </div>
                    </td>
                </tr>
            </table>
        </form>
        <table class="table table-bordered" style="text-align: center">
            <tr bgcolor="#d3d3d3">
                <th>图书条形码</th>
                <th>图书名称</th>
                <th>读者条形码</th>
                <th>读者名称</th>
                <th>借阅时间</th>
                <th>应还时间</th>
                <th>是否归还</th>
            </tr>
            {% if not borrows %}
                <tr>
                    <td colspan="7">--查无结果--请核对信息--</td>
                </tr>
            {% else %}
                {% for borrow in borrows %}
                    <tr>
                        <td>{{ borrow.book.barcode }}</td>
                        <td>{{ borrow.book.bookname }}</td>
                        <td>{{ borrow.reader.barcode }}</td>
                        <td>{{ borrow.reader.name }}</td>
                        <td>{{ borrow.borrowtime|date:'Y-m-d' }}</td>
                        <td>{{ borrow.backtime|date:'Y-m-d' }}</td>
                        <td>未还</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
</div>
<script>
    $('#blankCheckbox').click(function () {
        if($('#blankCheckbox').is(':checked')) {
            $('#down_list').attr('disabled', null);
            $('#search').attr('disabled', null);
            $('#searchBtn').attr('disabled',null);
        }else{
            $('#down_list').attr('disabled', 'disabled');
            $('#search').attr('disabled','disabled');
            if($('#timeCheckbox').is(':checked')){
                $('#searchBtn').attr('disabled',null);
            }else{
                $('#searchBtn').attr('disabled','disabled');
            }
        }
    });
    $('#timeCheckbox').click(function () {
        if($('#timeCheckbox').is(':checked')) {
            $('#timeFrom').attr('disabled', null);
            $('#timeTo').attr('disabled', null);
            $('#searchBtn').attr('disabled',null);
        }else{
            $('#timeFrom').attr('disabled', 'disabled');
            $('#timeTo').attr('disabled', 'disabled');
            $('#timeFrom').val('');
            $('#timeTo').val('');
            if($('#blankCheckbox').is(':checked')){
                $('#searchBtn').attr('disabled',null);
            }else{
                $('#searchBtn').attr('disabled','disabled');
            }
        }
    });
    $('#search').focus(function () {
        $('#search').val('');
    });

    function isnull(val) {
        var str = val.trim();//去除两端空格，非空判断;
        if (str == '' || str == undefined || str == null) {
            return false;
        } else {
            return true;
        }
    }
    $('#searchBtn').click(function (event) {
        var oTxt = document.getElementById('search');
        var oTimeFrom = document.getElementById('timeFrom');
        var oTimeTo = document.getElementById('timeTo');
        return isnull(oTxt.value)||isnull(oTimeFrom.value)||isnull(oTimeTo.value);
    });
</script>
{% endblock %}