{% extends 'base.html' %}
{% block main_page %}
<div class="container">
    <h3><i class="iconfont">&#xe707;</i>图书借阅查询</h3>
    <div class="wrap">
        <form action="/borrow_search/" method="post">
            {% csrf_token %}
        <table class="table table-bordered">
            <tr>
                <td colspan="3">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="blankCheckbox" value="option1" checked="checked" aria-label="...">
                            请选择查询依据：
                        </label>
                        <select name="select" class="form-control btn btn-danger">
                            <option>书名</option>
                            <option>条形码</option>
                            <option>类别</option>
                            <option>作者</option>
                            <option>出版社</option>
                            <option>书架</option>
                        </select>
                        <input type="text" name="search">
                        <button>查询</button>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                            借阅时间：
                        </label>
                        <label for="">从&nbsp;<input type="text"></label>
                        <label for="">到&nbsp;<input type="text"></label>
                        （日期格式为：2006-07-05）
                    </div>
                </td>
            </tr>
        </table>
        </form>
        <table class="table table-bordered" style="text-align: center">
            <tr bgcolor="#d3d3d3">
                <th>图书条形码</th>
                <th>图书名称</th>
                <th>读者条形码</th>
                <th>读者名称</th>
                <th>借阅时间</th>
                <th>应还时间</th>
                <th>是否归还</th>
            </tr>
            {% for borrow in borrows %}

                <tr>
                    <td>{{ borrow.book.barcode }}</td>
                    <td>{{ borrow.book.bookname }}</td>
                    <td>{{ borrow.reader.barcode }}</td>
                    <td>{{ borrow.reader.name }}</td>
                    <td>{{ borrow.borrowtime|date:'Y-m-d' }}</td>
                    <td>{{ borrow.backtime|date:'Y-m-d' }}</td>
                    <td>未还</td>
                </tr>
            {% endfor %}
        </table>
    </div>

</div>
{% endblock %}