{% extends 'base.html' %}
{% block main_page %}
    <div class="container">
        <h3><i class="iconfont">&#xe615;</i>图书借阅</h3>
        <div class="wrap">
            <table class="table table-bordered">
                <tr></tr>
                <tr>
                    <td colspan="3" align="center">
                        <span class="readerVerify">
                            <i class="iconfont">&#xe760;</i>
                            读者验证
                        </span>
                        <label for="">读者条形码：</label>
                        <input type="text">
                        <button>确认</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="">姓名：<input type="text"></label>
                    </td>
                    <td>
                        <label for="">性别：<input type="text"></label>
                    </td>
                    <td>
                        <label for="">读者类型：<input type="text"></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="">证件类型：<input type="text"></label>
                    </td>
                    <td>
                        <label for="">证件号码：<input type="text"></label>
                    </td>
                    <td>
                        <label for="">可借数量：<input type="text"></label>册
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <label for="">添加依据：</label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 图书条形码
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 图书名称
                        </label>
                        {#                        <span class="b_type">#}
                        {#                            <input type="radio" name="b_type">#}
                        {#                        </span>#}
                        {#                        <span class="b_type">#}
                        {#                            <input type="radio" name="b_type">#}
                        {#                        </span>#}
                        <input type="text">
                        <button>确定</button>
                        <button>完成借阅</button>
                    </td>
                </tr>
            </table>
            <table class="table table-bordered" style="text-align: center">
                <tr bgcolor="#d3d3d3">
                    <th>图书名称</th>
                    <th>借阅时间</th>
                    <th>应还时间</th>
                    <th>出版社</th>
                    <th>书架</th>
                    <th>定价(元)</th>
                </tr>
                <tr>
                    <td>js成神之路</td>
                    <td>1月3日</td>
                    <td>2月3日</td>
                    <td>长江大学出版社</td>
                    <td>A架</td>
                    <td>30</td>
                </tr>
            </table>
        </div>

    </div>


{% endblock %}