{% extends 'base.html' %}
{% block main_page %}
<div class="container">
    <h3><i class="iconfont">&#xe6ad;</i>借阅到期提醒</h3>
    <div class="wrap">
        <table class="table table-bordered" style="text-align: center">
            <tr bgcolor="#d3d3d3">
                <th>图书条形码</th>
                <th>图书名称</th>
                <th>读者条形码</th>
                <th>读者名称</th>
                <th>借阅时间</th>
                <th>应还时间</th>
            </tr>
            <tr>
                <td>12398390280</td>
                <td>js成神之路</td>
                <td>文学</td>
                <td>长江大学出版社</td>
                <td>A架</td>
                <td>么有</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}