{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>图书管理系统</title>
    <link rel="stylesheet" href="{% static '' %}pintuer.css">
    <link rel="stylesheet" href="{% static '' %}admin.css">
    <link rel="stylesheet" href="{% static '' %}iconfont.css">
</head>
<body>
<div class="bg" style="background:url({% static '' %}bg.jpg);"></div>
<div class="container">
    <div class="line bouncein">
        <div class="xs6 xm4 xs3-move xm4-move">
            <div style="height:150px;"></div>
            <div class="media media-y margin-big-bottom"></div>
            <form class="userform" action="/login/" method="post">
            {% csrf_token %}
            <div class="panel loginbox" style="background:url({% static '' %}tmbg-white.png); border:0;">
                <div class="text-center margin-big padding-big-top">
                    <h1>图书管理系统</h1>
                </div>
                <div class="panel-body" style="padding:30px; padding-bottom:10px; padding-top:10px;">
                    <div class="form-group">
                        <div class="field field-icon-right">
                            <input type="text" class="input input-big" id="username" name="name" placeholder="管理员登录账号" data-validate="required:请填写账号" />
                            <span class="icon margin-small"><i class="iconfont">&#xe6a7;</i></span>
                        </div>
                    </div>
                    <div class="form-group check">
                        <div class="field field-icon-right">
                            <input type="password" class="input input-big" id="password" name="password" placeholder="管理员登录密码" data-validate="required:请填写密码" />
                            <span class="icon margin-small"><i class="iconfont">&#xe6b9;</i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field">
                            <input type="text" class="input verify input-big" style="position: relative" name="code" placeholder="填写右侧的验证码" data-validate="required:请填写右侧的验证码" />
                            <div class="canBox">
                                <canvas width="100" id="myCan" height="32" class="passcode" ></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding-top:30px;"><input type="submit" class="button button-block bg-main text-big input-big login" id="login" value="登录"></div>
                <div style="padding-top:10px;"><input type="button" class="button button-block bg-main text-big input-big btn" value="注册"></div>
            </div>
            </form>          
        </div>
    </div>
</div>
<script src="{% static '' %}jquery-1.12.3.min.js"></script>
<script src="{% static '' %}pintuer.js"></script>
<script>
    //随机函数算法
    function createVerify(){
        function createNum(max,min) {
            var v_num = Math.floor(Math.random()*(max-min)+min);
            return v_num;
        }
        var str='qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM1234567890';
        var verify = str[createNum(62,0)]+str[createNum(62,0)]+str[createNum(62,0)]+str[createNum(62,0)];
        return verify;
    }
    function drawVerify(){
        var myCan = document. querySelector('#myCan');
        var cnt = myCan.getContext('2d');
        cnt.clearRect(0,0,myCan.width,myCan.height);
        cnt.font='24px 微软雅黑';
        cnt.fillStyle='red';
        var res=createVerify();
        cnt.fillText(res,20,myCan.height/2+5,myCan.width-10);
        return res;
    }
    $('.canBox').click(function () {
        drawVerify();
    });
    var right_value = drawVerify();
    //判断验证码函数
    $('#login').click(function () {
        var judgeValue = $('.verify').val();
        var reg = new RegExp(right_value,'gi');
        if(!reg.test(judgeValue)||$('#username').val().trim().length==0||$('#password').val().trim().length==0){
            alert('信息不完整或输入有误');
            return false
        }else{
            return true
        }
    });
    $('.btn').click(function () {
        location.href='/register/';
    });
</script>
</body>
</html>