{% extends 'base.html' %}
{% block current_page %}
    <a href="/home/">  首页> </a><a href="/manager/"> 管理员设置>> </a>
{% endblock current_page %}
{% block main_page %}
    <div class="container">
        <h3><i class="iconfont">&#xe605;</i>管理员设置</h3>
        <div class="wrap">
{#            <p class="manage_tool"><a href="/add_manager">添加管理员信息</a></p>#}
            <table class="table table-bordered">
                <tbody>
                <tr class="text-center" bgcolor="#d3d3d3">
                    <th>管理员名称</th>
                    <th>系统设置</th>
                    <th>读者管理</th>
                    <th>图书管理</th>
                    <th>图书借还</th>
                    <th>系统查询</th>
                    <th>权限设置</th>
                    <th>删除</th>
                </tr>
                {% for manager in managers %}



                    <tr>
                        <td align="center">{{ manager.name }}</td>
                        <td align="center"><input name="checkbox" type="checkbox" class="noborder" value="checkbox" checked=""></td>
                        <td align="center"><input name="checkbox" type="checkbox" class="noborder" value="checkbox" checked=""></td>
                        <td align="center"><input name="checkbox" type="checkbox" class="noborder" value="checkbox" checked=""></td>
                        <td align="center"><input name="checkbox" type="checkbox" class="noborder" value="checkbox" checked=""></td>
                        <td align="center"><input name="checkbox" type="checkbox" class="noborder" value="checkbox" checked=""></td>
                        <td align="center"><a href="">权限设置</a></td>
                        <td align="center"><a href="javascript:void(0)" onclick="delBookById({{ manager.id }})">删除</a></td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </div>
    <script>
        function delBookById(bid){
            var flag = confirm('您确定要删除当前记录吗？');
            if(flag){
                location.href='/del_manager/?id='+bid;
            }else{
                location.href='/manager/';
            }
        }

    </script>
{% endblock %}