{% extends 'base.html' %}
{% block current_page %}
    <a href="/home/">  首页 > </a><a href="JavaScript:"> 系统设置 >> </a><a href="JavaScript:"> 管理员设置 >>> </a>
{% endblock current_page %}
{% block main_page %}
    <div class="container">
        <h3><i class="iconfont">&#xe605;</i>管理员设置</h3>
        <div class="wrap">
            <table class="table table-bordered">
                <tbody>
                <tr class="text-center" bgcolor="#d3d3d3">
                    <th>管理员名称</th>
                    <th>系统设置</th>
                    <th>读者管理</th>
                    <th>图书管理</th>
                    <th>图书借还</th>
                    <th>系统查询</th>
                    <th>权限设置</th>
                    <th>删除</th>
                </tr>
                {% for manager in managers %}
                    <tr>
                        <td align="center">{{ manager.name }}</td>
                        <td align="center"><input name="checkbox" type="checkbox" class="noborder" id="sysset{{ manager.id }}" value="{{ manager.purview_set.all.first.sysset }}"
                                                  {% if manager.purview_set.all.first.sysset == 1 %} checked="checked" {% endif %}>
                        </td>
                        <td align="center"><input name="checkbox" type="checkbox" class="noborder" id="readerset{{ manager.id }}" value="{{ manager.purview_set.all.first.readerset }}"
                                                  {% if manager.purview_set.all.first.readerset == 1 %}checked="checked"{% endif %}>
                        </td>
                        <td align="center"><input name="checkbox" type="checkbox" class="noborder" id="bookset{{ manager.id }}" value="{{ manager.purview_set.all.first.bookset }}"
                                                  {% if manager.purview_set.all.first.bookset == 1 %}checked="checked"{% endif %}>
                        </td>
                        <td align="center"><input name="checkbox" type="checkbox" class="noborder" id="borrowback{{ manager.id }}" value="{{ manager.purview_set.all.first.borrowback }}"
                                                  {% if manager.purview_set.all.first.borrowback == 1 %}checked="checked"{% endif %}>
                        </td>
                        <td align="center"><input name="checkbox" type="checkbox" class="noborder" id="sysquery{{ manager.id }}" value="{{ manager.purview_set.all.first.sysquery }}"
                                                  {% if manager.purview_set.all.first.sysquery == 1 %}checked="checked"{% endif %}>
                        </td>
                        <td align="center"><a href="javascript:void(0)" data-manager="{{ manager.id }}"  class="modify">权限设置</a></td>
                        <td align="center"><a href="javascript:void(0)" onclick="delManagerById({{ manager.id }})">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <script>
        $('.noborder').click(function (){
            if($(this).is(':checked')){
                console.log('sss');
                $(this).val('1');
            }else{
                $(this).val('0');
            }
        });
        $('.modify').click(function modifyManagerById() {
            var list = $(this).parents('tr').find('.noborder');
            var arr=[];
            var manager_id = $(this).attr('data-manager');
            arr.push(manager_id);
            for(var i=0;i<list.length;i++){
                if(list[i].value == ''){
                    list[i].value = 0;
                }
                arr.push(list[i].value);
            }
            var flag = confirm('您确定要修改当前记录吗？');
            if (flag) {
                location.href = '/manager/?id=' + arr[0] + '&sysset=' + arr[1] + '&readerset=' + arr[2] + '&bookset=' + arr[3] + '&borrowback=' + arr[4] + '&sysquery=' + arr[5];
            } else {
                location.href = '/manager/';
            }
        });
        function delManagerById(bid) {
            var flag = confirm('您确定要删除当前记录吗？');
            if (flag) {
                location.href = '/del_manager/?id=' + bid;
            } else {
                location.href = '/manager/';
            }
        }
    </script>
{% endblock %}