{% extends 'base.html' %}
{% block main_page %}
    <div class="container">
        <h3><i class="iconfont">&#xe76d;</i>参数设置</h3>
        <div class="wrap">
            <form name="form1" action="" method="post">
                <table>
                    <tbody>
                    <tr>
                        <td align="left">办证费：</td>
                        <td align="left">
                            <input name="cost" type="text" id="cost" value="45" size="30">
                            (元)
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding:5px;">有效期限：</td>
                        <td align="left"><input name="validity" type="text" id="validity" size="30" value="3">
                            (月)
                        </td>
                    </tr>
                    <tr>
                        <td height="65" align="left" style="padding:5px;">&nbsp;</td>
                        <td><input name="Submit" type="button" class="btn_grey" value="保存">
                            &nbsp;
                            <input name="Submit2" type="reset" class="btn_grey" value="取消"></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
{% endblock %}