{% extends 'base.html' %}
{% block current_page %}
    <a href="/pwd_modify/"> 更改口令 ></a>
{% endblock current_page %}
{% block main_page %}
    <div class="container">
        <h3><i class="iconfont">&#xe6b9;</i>更改口令</h3>
        <div class="wrap">
            <form name="form1" action="" method="post">
                {% csrf_token %}
                <table>
                    <tbody>
                    <tr align="center">
                        <td width="27%" align="left" style="padding:5px;">管理员名称：</td>
                        <td width="73%" align="left">
                            <input name="name" type="text" id="name" value="{{ username }}" readonly="readonly" size="30">
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding:5px;">原密码：</td>
                        <td align="left"><input name="oldpwd" type="password" id="oldpwd" size="30">
                            <input name="holdpwd" type="hidden" id="holdpwd" value="1234"></td>
                    </tr>
                    <tr>
                        <td align="left" style="padding:5px;">新密码：</td>
                        <td align="left"><input name="pwd" type="password" id="pwd" size="30"></td>
                    </tr>
                    <tr>
                        <td align="left" style="padding:5px;">确认新密码：</td>
                        <td align="left"><input name="pwd1" type="password" id="pwd1" size="30"></td>
                    </tr>
                    <tr>
                        <td height="65" align="left" style="padding:5px;">&nbsp;</td>
                        <td><input name="Submit" type="submit" class="btn_grey" value="保存"
                                   onclick="return checkForm(form1)">
                            &nbsp;
                            <input name="Submit2" type="reset" class="btn_grey" value="取消"></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
{% endblock %}