{% extends 'base.html' %}
{% block main_page %}
    <div class="main_page">
    <div class="container">
        <h3><i class="iconfont">&#xe78f;</i>读者档案管理</h3>
        <div class="wrap">
            <p class="manage_tool"><a href="">添加读者信息</a></p>
            <table class="table table-bordered">
                <tbody>
                <tr align="center" bgcolor="#d3d3d3">
                    <th >条形码</th>
                    <th >姓名</th>
                    <th >读者类型</th>
                    <th >证件类型</th>
                    <th >证件号码</th>
                    <th >电话号码</th>
                    <th >Email</th>
                    <th >修改</th>
                    <th >删除</th>
                </tr>

                <tr>
                    <td align="center">201809171100</td>
                    <td align="center">詹生松</td>
                    <td align="center">学生</td>
                    <td align="center">身份证</td>
                    <td align="center">123456789012345678</td>
                    <td align="center">12345678909</td>
                    <td align="center">12345@126.com</td>
                    <td align="center"><a href="#">修改</a></td>
                    <td align="center"><a href="">删除</a></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock %}