{% extends 'base.html' %}
{% block current_page %}
    <a href="/home/"> 首页 ></a><a href="JavaScript:"> 图书借还 >> </a><a href="JavaScript:"> 图书续借 >>></a>
{% endblock current_page %}
{% block main_page %}
    <div class="container">
        <h3><i class="iconfont">&#xe615;</i>图书续借</h3>
        <div class="wrap">
            <form action="/renew/" method="post">
            <table class="table table-bordered">
                <tr></tr>
                <tr>
                    <td colspan="3" align="center">
                        <span class="readerVerify">
                            <i class="iconfont">&#xe760;</i>
                            读者验证
                        </span>

                            {% csrf_token %}
                            <label for="">读者条形码：<input type="text" name="readercode" value="{{ search_code.barcode }}" ></label>
                            <input type="submit" value="确认">

{#                        <button name="readercode">确认</button>#}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="">姓名：<input type="text" value="{{ search_code.name }}" disabled></label>
                    </td>
                    <td>
                        <label for="">性别：<input type="text" value="{{ search_code.sex.sex }}" disabled></label>
                    </td>
                    <td>
                        <label for="">读者类型：<input type="text" value="{{ search_code.readertype.name }}" disabled></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="">联系电话：<input type="text" disabled value="{{ search_code.tel }}"></label>
                    </td>
                    <td>
                        <label for="">可借数量：<input type="text" value="{{ search_code.readertype.number }}" disabled>册</label>
                    </td>
                    <td>
                        <label for="">已借数量：<input type="text" value="{{ count }}" disabled>册</label>
                    </td>
                </tr>
            </table>
            </form>
            <form action="/renew/" method="get">
            <table class="table table-bordered" style="text-align: center">
                <tr bgcolor="#d3d3d3">
                    <th>图书名称</th>
                    <th>借阅时间</th>
                    <th>应还时间</th>
                    <th>出版社</th>
                    <th>书架</th>
                    <th>定价(元)</th>

                    <th>
{#                        <button>完成续借</button>#}
                        <input type="submit" value="完成续借">
                    </th>
                </tr>

                {% for b in b_all %}
                    <tr>
                        <td>{{ b.book.bookname }}</td>
                        <td>{{ b.borrowtime|date:'Y年m月d日' }}</td>
                        <td>{{ b.backtime|date:'Y年m月d日' }}</td>
                        <td>{{ b.book.bookpub.name }}</td>
                        <td>{{ b.book.bookcase.name }}</td>
                        <td>{{ b.book.price }}</td>
                        <td><input type="radio" name="up" value="{{ b.id }}"></td>
                    </tr>
                {% endfor %}

            </table>
            </form>
        </div>

    </div>

{% endblock %}