input[type="text"]{
    font-weight: lighter;
}
body{
    background:#f5f5f5;
}
.container{
    padding: 0;
}
/*导航栏开始*/
header{
    padding:30px 0 15px 0;
}
header h1{
    color: #fffdef;
    margin: 0;
    position: relative;
}
.top_action{
    position: absolute;
    right: -10px;
    top:-20px;
}
.top_action .btn{
    color: #FFFFFF;
}
.top_action .btn i{
    margin-right: 5px;
}
.top_action .btn:hover{
    color: darkred;
}
/*.active a{*/
    /*background-color: #fff;*/
    /*text-align: center;*/
/*}*/
.user_id{
    color: #337ab7;
    margin-right: 5px;
}
nav{
    background-color: #337ab7;
}
nav .nav{
    padding:3px 20px 3px 0;
}
.btn_home{
    width: 70px;
    text-align: center;
}
/*导航栏结束*/
/*当前页样式开始*/
.current_page .container{
    padding-top: 10px;
    padding-bottom:10px;
    border-bottom: 1px solid #337ab7;
}
.current_page a{
    color: #337ab7;
}
.current_area{
    color: #333399;
}
/*主页样式开始*/

.main_page .container{
    min-height: 320px;
    background-color: #fff;
    padding: 0 20px;
}
.main_page a{
    color: #337ab7;
    text-align: center;
}
.main_page h3{
    padding-left:10px;
    border-left: 3px solid #337ab7;
    margin-bottom: 20px;
    font-size: 26px;
}
.main_page h3 i{
	font-size:26px;
	color:#337ab7;
	margin:0 5px 0 0;
}
.main_page .manage_tool{
    text-align: right;
}
.wrap{
    display: table;
    margin: 0 auto;
    padding-bottom: 20px;
}
.wrap table{
    min-width:800px;
}
.wrap table td{
    padding: 10px 5px;
}
.wrap table tbody th{
    text-align: center;
}
.wrap .reader{
    min-width: 600px;
    border: 2px solid #337ab7;
    border-radius: 5px;
}
/*尾部样式*/
footer{
    padding: 30px 0 10px 0;
}
/*读者验证样式*/
.readerVerify{
    float: left;
    /*margin-top: 5px;*/
    font-weight: bold;
    color:#337ab7;
}
.b_type{
    margin-right: 10px;
}
.b_type input{
    margin-right: 5px;
}
/*下拉列表*/
.dropdown-menu a{
    text-align: left;
}
.search_foot{
    font-weight: bold;
    color:#337ab7;
}
.form-control{
    width: 80px;
}
.btn-danger{
    border-color: #337ab7;
    height: 27px;
    padding: 1px 6px;
}
table option{
    text-align: center;
    padding: 2px;
}
input{
    padding-left:5px;
}