{% load custom_filter %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="{% static '' %}bootstrap.css"/>
    <link rel="stylesheet" href="{% static '' %}iconfont.css"/>
    <link rel="stylesheet" href="{% static '' %}whole.css"/>
    <style>
        #page li{
            cursor:pointer;
        }
    </style>
</head>
<body>
<header style="background: url({% static images %}bg.jpg) no-repeat;">
    {% include 'header.html' %}
</header>
<nav>
    {% include 'nav.html' %}
</nav>
<div class="current_page">
    <div class="container">
        <span class="current_area">
            当前位置：
            <a href="JavaScript:"><span id="currentPage"></span>系统设置 ></a> <a href="JavaScript:">管理员设置 >>></a>
            <script>
                function url_splice() {
                    url = window.location.href;
                    str = url.split('/');
                    return str[str.length-2];
                }
                function pageName(url){
                    var currentPage = document.getElementById('currentPage');
                    if(url == 'home'){
                        currentPage.innerHTML = '首页 > ';
                    }
                }
                pageName(url_splice());
            </script>
        </span>
    </div>
</div>
<script src="{% static '' %}jquery-1.12.3.min.js"></script>
<script src="{% static '' %}bootstrap.min.js"></script>
<script src="{% static '' %}bootstrap-paginator.js"></script>
<div class="main_page">
    {% block main_page %}
    {% endblock %}
</div>
<footer class="text-center">
    {% include 'footer.html' %}
</footer>



</body>
</html>