{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="{% static '' %}bootstrap.css"/>
    <link rel="stylesheet" href="{% static '' %}iconfont.css"/>
    <link rel="stylesheet" href="{% static '' %}whole.css"/>
    <style>
        #page li {
            cursor: pointer;
        }
    </style>
</head>
<body>
<header style="background: url({% static images %}bg.jpg) no-repeat;">
    <div class="container">
        <h1>
            图书馆管理系统
            <div class="top_action">
                <span class="btn"><i class="iconfont">&#xe767;</i>刷新页面</span>
                <span class="btn"><i class="iconfont">&#xe75c;</i>关闭系统</span>
            </div>
        </h1>
        <span class="pull-right user_id">当前登录用户：java1234</span>
    </div>
</header>
<nav>
    <div class="container">
        <ul class="nav nav-pills pull-right">
            <li role="presentation" class="btn_home"><a href="#">首页</a></li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    系统设置
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">图书馆信息</a></li>
                    <li><a href="#">管理员设置</a></li>
                    <li><a href="#">参数设置</a></li>
                    <li><a href="#">书架设置</a></li>
                </ul>
            </li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    读者管理
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">读者类型管理</a></li>
                    <li><a href="#">读者档案管理</a></li>
                </ul>
            </li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    图书管理
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">图书类型管理</a></li>
                    <li><a href="#">图书档案管理</a></li>
                </ul>
            </li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    图书借还
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">图书借阅</a></li>
                    <li><a href="#">图书续借</a></li>
                    <li><a href="#">图书归还</a></li>
                </ul>
            </li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    系统查询
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">图书档案查询</a></li>
                    <li><a href="#">图书借阅查询</a></li>
                    <li><a href="#">借阅到期提醒</a></li>
                </ul>
            </li>
            <li role="presentation"><a href="pwd_modify.html">更改口令</a></li>
            <li role="presentation"><a href="#">退出系统</a></li>
        </ul>
    </div>
</nav>
<div class="current_page">
    <div class="container">
        <span class="current_area">
            当前位置：系统设置 > 管理员设置 >>>
        </span>
    </div>
</div>
<div class="main_page">
    <div class="container">
        <h3><i class="iconfont">&#xe615;</i>图书档案管理</h3>
        <div class="wrap">
            <p class="manage_tool"><a href="">添加图书信息</a></p>
            <table class="table table-bordered">
                <tbody>
                <tr align="center" bgcolor="#d3d3d3">
                    <th >条形码</th>
                    <th >图书名称</th>
                    <th >图书类型</th>
                    <th >出版社</th>
                    <th >书架</th>
                    <th >修改</th>
                    <th >删除</th>
                </tr>

                <tr>
                    <td align="center">9787302047230</td>
                    <td align="center"><a href="">Java学习指南</a></td>
                    <td align="center"> 计算机类</td>
                    <td align="center">电子工业出版社</td>
                    <td align="center">A架</td>
                    <td align="center"><a href="#">修改</a></td>
                    <td align="center"><a href="">删除</a></td>
                </tr>

                <tr>
                    <td align="center">9787115157690</td>
                    <td align="center"><a href="">沙哈拉的故事</a></td>
                    <td align="center">文学类</td>
                    <td align="center">北京大学出版社</td>
                    <td align="center">B架</td>
                    <td align="center"><a href="#">修改</a></td>
                    <td align="center"><a href="">删除</a></td>
                </tr>

                </tbody>

            </table>
        </div>

    </div>
</div>

<footer class="text-center">
    <p> CopyRight © 2018 www.**********.com 北京市*****有限公司</p>
    <p>本站请使用IE6.0或以上版本 1024*768为最佳显示效果</p>
</footer>
<script src="{% static '' %}jquery-1.12.3.min.js"></script>
<script src="{% static '' %}bootstrap.min.js"></script>
<script src="{% static '' %}bootstrap-paginator.js"></script>
<script>
    $(function () {
        var currentPage = 1;
        var totalPages = 25;
        $("#page").bootstrapPaginator({
            bootstrapMajorVersion: 3, //对应的bootstrap版本
            currentPage: currentPage, //当前页数
            numberOfPages: 10, //每次显示页数
            totalPages: totalPages, //总页数
            shouldShowPage: true,//是否显示该按钮
            useBootstrapTooltip: true,
            //点击事件
            onPageClicked: function (event, originalEvent, type, page) {


            }
        });

    });

</script>
</body>
</html>