<div class="container">
    <ul class="nav nav-pills pull-right">
        <li role="presentation" class="btn_home"><a href="/home/">首页</a></li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                系统设置
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/modify/">图书馆信息</a></li>
                <li><a href="/manager/">管理员设置</a></li>
                <li><a href="/parameter/">参数设置</a></li>
                <li><a href="/bookcase/">书架设置</a></li>
            </ul>
        </li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                读者管理
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/reader_type/">读者类型管理</a></li>
                <li><a href="/reader/">读者档案管理</a></li>
            </ul>
        </li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                图书管理
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/booktype/">图书类型管理</a></li>
                <li><a href="/book/">图书档案管理</a></li>
            </ul>
        </li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                图书借还
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/borrow/">图书借阅</a></li>
                <li><a href="/renew/">图书续借</a></li>
                <li><a href="/book_back/">图书归还</a></li>
            </ul>
        </li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                系统查询
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/book_info_search/">图书档案查询</a></li>
                <li><a href="/borrow_search/">图书借阅查询</a></li>
                <li><a href="/borrow_remind/">借阅到期提醒</a></li>
            </ul>
        </li>
        <li role="presentation"><a href="/pwd_modify/">更改口令</a></li>
        <li role="presentation"><a href="/logout/">退出系统</a></li>
    </ul>
</div>